@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #08f100;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
    --skin-color: #08f100;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background: var(--bg-black-900);
    min-height: 100%;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

section.active {
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.dark-black-shadow {
    background: #000;
    opacity: 0.9;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

section.back-section {
    z-index: 1;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.btn {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    background: var(--skin-color);
    color: var(--bg-black-100);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: 1px solid var(--text-black-700);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(0.9);
}

.btn:active {
    background: var(--bg-black-100);
    color: var(--skin-color);
    border: 1px solid var(--skin-color);
}

::before,
::after {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
    transition: all 0.5s ease;
}

.logo {
    top: 0;
    display: block;
    position: absolute;
}

.logo a {
    position: relative;
    cursor: pointer;
    /* display: block; */
}

.logo img {
    width: 50%;
    padding: 20px 0px;
    margin: auto;
    display: block;
    cursor: pointer;
}

.logo .theme-mode {
    flex: 0 0 100%;
    width: 100%;
    position: relative;
}

.logo .theme-mode .mode {
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--text-black-900);
    font-size: 20px;
}

.logo .theme-mode .mode i {
    background-color: var(--skin-color);
    border: 1px solid var(--text-black-900);
    border-radius: 50%;
    padding: 10px;
}

.logo .theme-mode #moon {
    padding: 10px 13px;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    /* border: 1px solid var(--bg-black-50); */
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    transition: all 0.5s ease;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    border: 1px solid var(--skin-color);
}

.aside .nav-toggler span {
    height: 2px;
    width: 19px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
}

.aside .nav-toggler.open span {
    background: transparent;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 19px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 19px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav {
    margin-top: 70%;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 500;
    display: block;
    color: var(--text-black-900);
    padding: 5px 15px;
    border-bottom: 1px solid var(--bg-black-50);
}

.aside .nav li a:hover {
    color: var(--skin-color);
}

.aside .nav li a.active {
    color: var(--skin-color);
    font-weight: 700;
}

.aside .nav li a i {
    margin-right: 20px;
}

.footer {
    display: block;
    position: absolute;
    bottom: 0;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: var(--skin-color);
    border-top: 1px solid var(--bg-black-50);
}

/*Section-Container-Row*/
.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: "";
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: "";
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

/*Home*/
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: 20px;
    bottom: -40px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
}

.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    left: 40px;
    top: -20px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
}

.home .home-img img {
    width: 60%;
}

.home .home-img img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 21px;
}

.peace {
    color: var(--text-black-900);
}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
}

.typing {
    color: var(--skin-color);
}

.home .home-info p {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home-info .more-me {
    font-weight: bold;
}

.home .home-info .icons {
    margin-bottom: 50px;
}

.home .home-info .icons i {
    color: var(--skin-color);
    border-radius: 50%;
    border: 1px solid var(--text-black-700);
    background: var(--bg-black-100);
    margin-right: 10px;
    padding: 10px;
}

.home .home-info .icons i:hover {
    background: var(--skin-color);
    color: var(--bg-black-100);
    transform: scale(1.3);
}

.home .home-info .icons i:active {
    background: var(--bg-black-100);
    color: var(--skin-color);
}

/*About*/
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .interest-item {
    flex: 0 0 33.33%;
    width: 33.33%;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

.padd-5 {
    padding-right: 5px;
}

.about .about-content .personal-info .interest-item .interest-item-inner,
.about .about-content .personal-info .hobbies-item .hobbies-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
}

.about .about-content .personal-info .interest-item .interest-item-inner:hover,
.about .about-content .personal-info .hobbies-item .hobbies-item-inner:hover {
    border: 1px solid var(--skin-color);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.about .about-content .personal-info .hobbies-item {
    flex: 0 0 20%;
    width: 20%;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

.about .about-content .personal-info .interest-item .interest-item-inner i,
.hobbies-item .hobbies-item-inner i {
    color: var(--skin-color);
    font-size: 20px;
    margin-top: 10px;
}

.about .about-content .skills h3,
.about .about-content .personal-info h3 {
    margin-top: 40px;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .personal-info .interest-item .interest-item-inner h4,
.hobbies-item .hobbies-item-inner h4 {
    font-weight: 600;
    padding: 10px 0px;
    font-size: 16px;
    color: var(--text-black-900);
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    border: 1px solid var(--bg-black-100);
    height: 7px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: var(--skin-color);
    transition: width 5s linear;
}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    left: 0;
    top: -40px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    color: var(--text-black-900);
    background-color: var(--skin-color);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    padding: 0px 5px 0px 5px;
    transition: left 5s linear;
    transform: translateX(-50%);
}

.about .about-content .skills .skill-item .skill-percent::after{
    content: '';
    background-color: var(--skin-color);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: 10px;
    width: 10px;
}

.about .about-content .education,
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 30px;
    padding-bottom: 30px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item .timeline-inner {
    border: 1px solid #08f100;
    border-radius: 10px;
    padding: 10px;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
    transform: translateX(-1px);
}

.about .about-content .timeline .timeline-item .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
    transform: translateX(-7%);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date i {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/*Projects*/
.project .container {
    padding-bottom: 40px;
}

.project .porject-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.project .porject-heading h3 {
    font-size: 25px;
    text-align: center;
    color: var(--skin-color);
}

.project .project-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    position: relative;
}

.project .project-item-inner {
    border: 2px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    position: relative;
}

.project .project-item-inner:hover {
    border: 2px solid var(--skin-color);
}

.project .project-item-inner .project-img img {
    width: 100%;
    display: block;
    transition: 0.3s;
}

.project .project-item-inner .project-img .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 7%;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.project .project-item-inner .project-img .modal .modal-content {
    margin: auto;
    display: block;
    max-width: 50%;
}

.project .project-item-inner .project-img .modal .caption-alt {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 80%;
    text-align: center;
    color: #ccc;
    padding-top: 10px;
    font-size: 50px;
}

.project .project-item-inner .project-img .modal .modal-content,
.project .project-item-inner .project-img .modal .caption-alt {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.project .project-item-inner .project-img .modal #close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.project .project-item-inner .project-img .modal #close:hover,
.project .project-item-inner .project-img .modal #close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.project .project-item-inner .project-img .overlay {
    background: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project .project-item-inner .project-img .overlay i {
    background-color: var(--skin-color);
    border-radius: 50%;
    color: var(--bg-black-100);
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #fff;
    font-weight: bold;
}

.project .project-item-inner .project-img .overlay i:active {
    background-color: var(--bg-black-100);
    color: var(--skin-color);
    border: 1px solid var(--skin-color);
}

.project .project-item-inner .project-img:hover .overlay {
    opacity: 0.7;
    transition: 0.5s ease;
}

.filter-control {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

.filter-control ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filter-control ul li {
    list-style: none;
    background: var(--bg-black-100);
    color: var(--skin-color);
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--skin-color);
}

.filter-control ul li:hover {
    background: var(--skin-color);
    color: var(--bg-black-100);
    font-weight: bold;
    border: 1px solid var(--text-black-700);
}

.filter-control ul li.active {
    background: var(--skin-color);
    color: var(--bg-black-100);
    font-weight: bold;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project .coding-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.project .coding-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.project .coding-item {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 30px;
}

.project .coding-item .coding-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transform: all 0.3s ease;
}

.project .coding-item .coding-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    border: 1px solid var(--skin-color);
}

.project .coding-item .coding-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transform: all 0.3s ease;
}

.project .coding-item .coding-item-inner .icon i {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transform: all 0.3s ease;
}

.project .coding-item .coding-item-inner:hover .icon {
    background: var(--skin-color);
    border: 1px solid var(--text-black-700);
}

.project .coding-item .coding-item-inner:hover .icon i {
    font-size: 25px;
    color: var(--text-black-900);
}

.project .coding-item .coding-item-inner h4,
.project .coding-item .coding-item-inner h4 a {
    font-size: 21px;
    margin-bottom: 19px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.project .coding-item .coding-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 4));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 4));
    }
}

.project-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-carousel-container .carousel-container {
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
    margin: auto;
    border-radius: 10px;
    border: 1px solid var(--bg-black-100);
}

.project-carousel-container .carousel-container:hover {
    border: 1px solid var(--skin-color);
}

.project-carousel-container .carousel-container::before,
.project-carousel-container .carousel-container::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 10rem;
    height: 100%;
}

.project-carousel-container .carousel-container::before {
    content: "";
    left: 0;
    top: 0;
    background: linear-gradient(to right, var(--bg-black-100) 0%, transparent 100%);
}

.project-carousel-container .carousel-container::after {
    content: "";
    right: 0;
    top: 0;
    background: linear-gradient(to left, var(--bg-black-100) 0%, transparent 100%);
}

.project-carousel-container .carousel-container .carousel-wrapper {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
}

.project-carousel-container .carousel-container .carousel-wrapper:hover {
    animation-play-state: paused;
}

.project-carousel-container .carousel-container .carousel-wrapper .carousel-slide {
    flex: 0 0 25%;
    max-width: 25%;
}

.project-carousel-container .carousel-container .carousel-wrapper .carousel-slide:hover {
    transform: scaleX(1.5);
}

.project-carousel-container .carousel-container .carousel-wrapper img {
    width: 100%;
    object-fit: cover;
    display: block;
}

/*Service*/
.service .container {
    padding-bottom: 40px;
}

.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transform: all 0.3s ease;
}

.service .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    border: 1px solid var(--skin-color);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transform: all 0.3s ease;
}

.service .service-item .service-item-inner .icon i {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transform: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon {
    background: var(--skin-color);
    border: 1px solid var(--text-black-700);
}

.service .service-item .service-item-inner:hover .icon i {
    font-size: 25px;
    color: var(--text-black-900);
}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

.review-container {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.review-container .container-row-1,
.review-container .container-row-2 {
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    position: absolute;
    align-items: center;
}

.review-container .container-row-1 {
    overflow-x: auto;
    padding-top: 7%;
    padding-bottom: 3%;
    scroll-behavior: smooth;
}

.review-container .container-row-1::-webkit-scrollbar {
    display: none;
}

.review-container .container-row-1 .row-1-col {
    flex: 0 0 33.33%;
    width: 33.33%;
    height: 100%;
    justify-content: center;
}

.review-container .container-row-1 .row-1-col .card {
    max-width: 100%;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.review-container .container-row-1 .row-1-col .card:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    border: 1px solid var(--skin-color);
}

.review-container .container-row-1 .row-1-col .card img {
    width: 50%;
    margin-top: -35%;
    border: 3px solid var(--skin-color);
    border-radius: 50%;
    padding: 1px;
}

.review-container .container-row-1 .row-1-col .card h2 {
    margin-top: 40px;
    color: var(--text-black-900);
}

.review-container .container-row-1 .row-1-col .card h4 {
    margin-bottom: 20px;
    color: var(--text-black-900);
}

.review-container .container-row-1 .row-1-col .card p {
    margin-bottom: 10px;
    color: var(--text-black-700);
}

.review-container .container-row-1 .row-1-col .card i {
    color: var(--skin-color);
}

.review-container .container-row-2 .row-2-col-1,
.review-container .container-row-2 .row-2-col-2 {
    display: flex;
    flex: 0 0 50%;
    width: 50%;
}

.review-container .container-row-2 .row-2-col-1 {
    justify-content: left;
}

.review-container .container-row-2 .row-2-col-2 {
    justify-content: right;
}

.review-container .container-row-2 .row-2-col-1 .btn-l,
.review-container .container-row-2 .row-2-col-2 .btn-r {
    background: var(--skin-color);
    border-radius: 50%;
    color: var(--bg-black-100);
    border: 1px solid var(--text-black-700);
    font-size: 35px;
    font-weight: bold;
    width: 60px;
    height: 60px;
}

.review-container .container-row-2 .row-2-col-1 .btn-l:hover,
.review-container .container-row-2 .row-2-col-2 .btn-r:hover {
    transform: scale(0.9);
}

.review-container .container-row-2 .row-2-col-1 .btn-l:active,
.review-container .container-row-2 .row-2-col-2 .btn-r:active {
    background: var(--bg-black-100);
    color: var(--skin-color);
    border: 2px solid var(--skin-color);
}

.service .service-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.service .service-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.service-benefits-item {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 30px;
}

.service-benefits-item .service-benefits-inner {
    width: 100%;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

.service-benefits-item .service-benefits-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    border: 1px solid var(--skin-color);
}

.service-benefits-inner #service-circle {
    position: relative;
    height: 210px;
    width: 210px;
    background: conic-gradient(var(--skin-color) 3.6deg, #fff 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-benefits-item .service-benefits-inner #service-circle::before {
    content: "";
    position: absolute;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: var(--bg-black-900);
}

.service-benefits-item .service-benefits-inner #service-circle #progress-value {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: var(--text-black-700);
}

.service-benefits-item .service-benefits-inner .progress-text {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-black-900);
    text-align: center;
}

/*Contact*/
.contact .container {
    padding-bottom: 40px;
}

.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.mail-title {
    margin-top: 60px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact-map {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-info-item {
    flex: 0 0 20%;
    max-width: 20%;
    text-align: center;
    margin-bottom: 30px;
}

.contact .contact-info-item-map {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
}

.contact .contact-info-item .contact-info-item-inner,
.contact .contact-info-item-map .contact-info-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 20px 10px;
    transform: all 0.3s ease;
}

.contact .contact-info-item .contact-info-item-inner:hover {
    border: 1px solid var(--skin-color);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-info-item .contact-info-item-inner .icon,
.contact .contact-info-item-map .contact-info-item-inner .icon {
    display: inline-block;
}

.contact .contact-info-item .contact-info-item-inner .icon i,
.contact .contact-info-item-map .contact-info-item-inner .icon i {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item-map .contact-info-item-inner .icon .fa-earth-asia {
    font-size: 40px;
}

.contact .contact-info-item .contact-info-item-inner h4,
.contact .contact-info-item-map .contact-info-item-inner h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item .contact-info-item-inner p,
.contact .contact-info-item .contact-info-item-inner p a,
.contact .contact-info-item-map .contact-info-item-inner address {
    font-size: 13px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-info-item .contact-info-item-inner:hover p a {
    color: var(--skin-color);
    font-weight: 600;
}

.contact .contact-info-item-map .contact-info-item-inner iframe {
    width: 100%;
    margin-top: 30px;
}

.contact-map .contact-info-item-map .contact-info-item-inner .map-img img {
    width: 18%;
    opacity: 0.3;
    margin-top: 3%;
    filter: grayscale(100%);
}

.contact-map .contact-info-item-map .contact-info-item-inner .map-img img:hover {
    opacity: 1;
    filter: none;
    transform: scale(1.3);
}

.contact .contact-info-item a {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    border: 1px solid var(--skin-color);
}

.contact .contact-form .form-item textarea.form-control {
    height: 150px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.contact .contact-form .form-item textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.contact .contact-form .btn {
    height: 40px;
    padding: 0 20px;
    font-weight: bold;
    border: 1px solid var(--text-black-700);
}

.contact .contact-form .btn:hover {
    transform: scale(0.9);
}

.contact .contact-form .btn:active {
    background: var(--bg-black-100);
    color: var(--skin-color);
    border: 2px solid var(--skin-color);
}

.contact .contact-form .card {
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.contact .contact-form .card .cardModal {
    display: none;
    /* Hidden by default */
    z-index: 9;
    /* Location of the box */
    left: 0;
    top: 0;
    flex: 0 0 100%;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    position: fixed;
    /* Stay in place */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.contact .contact-form .card .card-box {
    flex: 0 0 40%;
    width: 40%;
    height: auto;
    left: 30%+270px;
    top: 5%;
    background-color: var(--bg-black-100);
    border: 1px solid var(--skin-color);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    z-index: 10;
    text-align: center;
    padding: 30px 10px 30px 10px;
    margin: auto;
    display: none;
    position: fixed;
    overflow: hidden;
}

.contact .contact-form .card .card-box .ufo {
    width: 55%;
    display: block;
    margin: auto;
    position: relative;
}

.contact .contact-form .card .card-box .ninja {
    width: 15%;
    display: block;
    margin: auto;
    margin-top: -20%;
    position: relative;
}

.contact .contact-form .card .card-box .ufo-move,
.ninja-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.contact .contact-form .card .card-box .fa-envelope-circle-check {
    color: var(--skin-color);
    font-size: 5vw;
    transform: translateY(30%);
}

.contact .contact-form .card .card-box h2 {
    color: var(--text-black-900);
    margin: 20px 0px;
}

.contact .contact-form .card .card-box .close-btn {
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--skin-color);
    color: var(--bg-black-100);
    border: 2px solid var(--text-black-700);
    border-radius: 40px;
}

.contact .contact-form .card .card-box .close-btn:hover {
    transform: scale(0.9);
}

.contact .contact-form .card .card-box .close-btn:active {
    background-color: var(--bg-black-100);
    color: var(--skin-color);
    border: 2px solid var(--skin-color);
}

/*Responsive*/
@media(max-width: 1319px) {
    @-webkit-keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-200px * 4));
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-200px * 4));
        }
    }
}

@media(max-width: 1199px) {
    section .container {
        padding-top: 70px;
    }

    .aside {
        left: -270px;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open {
        left: 270px;
    }

    section {
        left: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }

    .service-benefits-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .project .project-item-inner .project-img .modal .modal-content {
        margin-top: 5%;
    }

    .contact .contact-form .card .card-box {
        margin-top: 15%;
        left: 30px;
        right: 30px;
        width: auto;
        height: auto;
    }
}

@media(max-width: 991px) {

    .home .home-info,
    .about .about-content .education,
    .about .about-content .experience {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }

    .about .about-content .personal-info .interest-item .interest-item-inner h4,
    .hobbies-item .hobbies-item-inner h4 {
        padding: 10px 0;
        font-size: 13px;
    }

    .project .project-item,
    .project .coding-item,
    .service .service-item,
    .review-container .container-row-1 .row-1-col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .review-container {
        margin-bottom: 25%;
    }

    .review-container .container-row-1 {
        padding-top: 15%;
    }

    .service-benefits .service-benefits-item .service-benefits-inner #service-circle {
        height: 150px;
        width: 150px;
    }

    .service-benefits .service-benefits-item .service-benefits-inner #service-circle::before {
        width: 140px;
        height: 140px;
    }

    .contact .contact-form .card .card-box {
        flex: 0 0 80%;
    }

    @-webkit-keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-150px * 4));
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-150px * 4));
        }
    }
}

@media(max-width: 767px) {

    .about .about-content .skills,
    .about .about-content .personal-info,
    .project .project-item,
    .project .coding-item,
    .service .service-item,
    .review-container .container-row-1 .row-1-col,
    .contact .contact-form .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .project .project-item-inner .project-img .modal .modal-content {
        margin-top: 15%;
    }

    .review-container {
        margin-bottom: 55%;
    }

    .review-container .container-row-1 {
        padding-top: 30%;
        margin-top: 30%;
    }

    .review-container .container-row-2 .row-2-col-1,
    .review-container .container-row-2 .row-2-col-2 {
        transform: translateY(190%);
    }

    .contact .contact-info-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .contact .contact-form .card {
        top: -10%;
    }

    .contact .contact-form .card .card-box {
        flex: 0 0 90%;
    }

    @-webkit-keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-100px * 4));
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-100px * 4));
        }
    }
}

@media(max-width: 575px) {

    .about .about-content .personal-info .interest-item .interest-item-inner h4,
    .hobbies-item .hobbies-item-inner h4 {
        padding: 10px 0;
        font-size: 10px;
    }

    .project .project-item-inner .project-img .modal .modal-content {
        margin-top: 40%;
    }

    .service-benefits-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .review-container {
        margin-bottom: 72%;
    }

    .review-container .container-row-1 {
        margin-top: 40%;
    }

    .contact .contact-info-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    @-webkit-keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-70px * 4));
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-70px * 4));
        }
    }
}